<h1>Zenshin</h1>

<section class="todoapp">
  <header class="header">
    <h2>Tasks</h2>
    <input class="new-todo" placeholder="Add a task..." autofocus="">
  </header>
  <section class="main">

    <ul class="todo-list">
    </ul>

  </section>
</section>
