<h1>Zenshin</h1>

<section class="todoapp">
  <header class="header">
    <h2>Tasks</h2>
    <input class="new-todo" placeholder="Add a task..." autofocus="">
  </header>
  <section class="main">

    <ul class="todo-list">
    </ul>

  </section>
</section>

<script>
$(function() {
  $.get('/tasks').success(function(data){
    for (task in data) {
      $('.todo-list').append(
        $('<li>').append(
          $('<input>').attr({
            class: 'toggle',
            type: 'checkbox',
            'data-id': data[task].id,
            checked: data[task].done
          }).add($('<label>').append(data[task].title))
        )
      )
    };

    $('.toggle').change(function (){
      var task = $(this);
      var id = task.data("id");
      var done = task.prop('checked');
    });
  });


});
</script>
