<section class="todoapp">
  <header class="header">
    <br>
    <form id="new-task-form">
      <div class="input-field row">
        <div class="col s12 m10">
          <input class="new-task" placeholder="Add a task..." type="text" />
        </div>
        <div class="col s12 m2">
          <input type="submit" value="add" class="waves-effect waves-light btn right" />
        </div>
      </div>
    </form>
  </header>
  <section class="main">

    <ul class="todo-list collection">
    </ul>

  </section>
</section>
