<h1>Zenshin</h1>

<section class="todoapp">
  <header class="header">
    <h2>Tasks</h2>
    <form id="new-task-form">
      <input class="new-task" placeholder="Add a task..." type="text">
    </form>
  </header>
  <section class="main">

    <ul class="todo-list">
    </ul>

  </section>
</section>
