<!DOCTYPE html>
<html>
<head>
  <title>Zenshin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Zenshin</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Log in</a></li>
      </ul> -->
    </div>
  </nav>
</header>

<main class="container">
  <%= yield %>
</main>


</body>
</html>
